h1 {
    font-family: monospace;
  }
  
  body {
    background-color: #00bfff;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    -o-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
  }
  
  body {
    font-family: "soleil", "roboto", sans-serif;
    overflow-x: hidden;
    background-color: #f1f1f1;
    color: #040404;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .menu-icon {
    flex-grow: 1;
    padding: 0 58px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    z-index: 2;
  }
  
  .flex {
    display: flex;
  }
  
  .column {
    flex-direction: column;
  }
  
  .search-bar {
    padding: 40px 10vw 0;
  }
  
  .search {
    border: 0;
    padding: 8px 20px;
    font-size: 18px;
    font-family: "soleil", "roboto", sans-serif;
    border: 1px solid #bdbbbb;
  }
  
  .active {
    background-color: #eeeeee !important;
    border-left: 1px solid #e2e2e2 !important;
    border-right: 1px solid #e2e2e2 !important;
    border-bottom: 1px solid #e2e2e2 !important;
  }
  
  .nav {
    align-items: center;
    color: #040404;
    font-size: 22px;
    font-weight: 500;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 10vw;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  }
  
  .menu-block {
    margin-left: -1px;
  }
  
  .menu-block,
  .user-block {
    position: relative;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .user-container {
    padding: 10px 15px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
    z-index: 2;
    overflow-x: hidden;
  }
  
  .user-border {
    height: 5px;
    flex-grow: 1;
    width: 100%;
    top: -8px;
    left: 0px;
    z-index: 3;
  }
  
  .absolute {
    position: absolute;
  }
  
  .relative {
    position: relative;
  }
  
  .user-menu {
    right: 0;
    top: -62px;
    z-index: 1;
  }
  
  .menu-link-icon {
    margin-right: 8px;
  }
  
  .menu-link-notification {
    border-radius: 100%;
    height: 16px;
    width: 16px;
    color: #ffffff;
    font-size: 10px;
    top: 8px;
    left: 13px;
    padding-right: 1px;
  }
  
  .dropup-icon,
  .dropdown-icon {
    margin-left: 10px;
  }
  
  .bright-blue {
    background-color: #32b8df;
  }
  
  .messages-notification {
    border-radius: 100%;
    height: 20px;
    width: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    top: 14px;
    left: 5px;
  }
  
  .icon {
    width: 70px;
    height: 70px;
    padding: 22px;
  }
  
  .user-info {
    margin-left: 15px;
  }
  
  .user-username {
    font-size: 18px;
    font-weight: 500;
  }
  
  .user-score {
    font-size: 14px;
    color: #989898;
    font-weight: 300;
    margin-top: -3px;
  }
  
  .shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .grow {
    flex-grow: 1;
  }
  
  .leaderboard-header {
    border-radius: 4px 4px 0 0;
  }
  
  .footer-btn {
    padding: 8px 12px;
    margin: 0 15px;
    background-color: #fff;
    border-radius: 4px;
    color: #32b8df;
    border: 1px solid #3498db;
  }
  
  .leaderboard-footer {
    padding: 20px 3vw;
    background-color: #32b8df;
    border: 1px solid #0196c1;
    color: #fff;
  }
  
  .leaderboard-row {
    flex-grow: 1;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 3vw;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  
  .row-caller {
    align-items: center;
  }
  
  .row-user {
    margin-left: 30px;
    width: 185px;
  }
  
  .row-user--header {
    width: 275px;
  }
  
  .row-position {
    width: 55px;
    text-align: center;
  }
  
  .row-calls {
    width: 55px;
    text-align: right;
  }
  
  .leaderboard-header > .leaderboard-row:first-of-type {
    border-radius: 4px 4px 0 0 !important;
  }
  
  .leaderboard-header > .leaderboard-row {
    background-color: #32b8df;
    color: #ffffff;
    border-left: 1px solid #0196c1;
    border-bottom: 1px solid #0196c1;
    border-right: 1px solid #0196c1;
  }
  
  .leaderboard-row:last-of-type {
    border-radius: 0 0 4px 4px;
  }
  
  .align-center {
    align-items: center;
  }
  
  .row-collapse {
    flex-grow: 1;
    justify-content: space-around;
  }
  
  .row-alt {
    background-color: #f2f2f2;
  }
  
  .row-button {
    padding: 12px 40px 10px 40px;
    color: #080808;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #ffffff;
  }
  
  .table-tab:hover,
  .row-button:hover {
    background-color: #f2f2f2;
  }
  
  .row-button--active {
    border-right: 1px solid #0196c1;
    border-left: 1px solid #0196c1;
    border-top: 1px solid #0196c1;
  }
  
  .filter-row {
    padding: 0;
  }
  
  .table-tab {
    padding: 10px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #ffffff;
  }
  
  .filter-by {
    border-bottom: 1px solid #0196c1;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .row-button--active,
  .tab-active {
    background-color: #32b8df;
    color: #ffffff;
    border-left: 1px solid #0196c1;
    border-top: 1px solid #0196c1;
    border-right: 1px solid #0196c1;
  }
  
  .row-button--active:hover,
  .tab-active:hover {
    background-color: #20add6;
  }
  
  .row--header {
    padding: 20px 3vw;
  }
  
  .row-rank--header,
  .row-team--header,
  .row-rank,
  .row-team {
    width: 16.67%;
  }
  
  .avatar {
    border-radius: 100%;
    width: 60px;
    height: 60px;
  }
  
  .wordmark {
    height: 65px;
    margin: 8px 0;
    cursor: pointer;
  }
  
  .content {
    min-height: 100vh;
  }
  
  footer {
    background-color: #3498db;
    padding: 25px 200px;
    color: #ffffff;
  }
  
  .nav-link {
    background-color: #eee;
    font-size: 18px;
    font-weight: 300;
    color: #4a4a4a;
    padding: 10px 25px 10px 20px;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
    letter-spacing: -0.5px;
    z-index: 1;
  }
  
  .nav-link:hover {
    background-color: #c7c7c7;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
  }
  
  .nav-links {
    position: absolute;
    background-color: #eee;
    left: 0;
    top: -62px;
    width: 100%;
  }

  
  .animate-border {
    animation: animate-border 0.3s ease-in-out 1;
    animation-fill-mode: forwards;
  }
  
  .remove-border {
    animation: remove-border 0.3s ease-in-out 1;
    animation-fill-mode: forwards;
  }

  .menu-slide-up {
    animation: menu-slide-up 0.3s ease-in-out 1;
    animation-fill-mode: forwards;
  }
  
  .menu-slide-down {
    animation: menu-slide-down 0.3s ease-in-out 1;
    animation-fill-mode: forwards;
  }

  h1 {
    font-family: monospace;
  }
  
  body {
    background-color: #00bfff;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    -o-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
  }
  
  body {
    font-family: "soleil", "roboto", sans-serif;
    overflow-x: hidden;
    background-color: #f1f1f1;
    color: #040404;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .menu-icon {
    flex-grow: 1;
    padding: 0 58px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    z-index: 2;
  }
  
  .flex {
    display: flex;
  }
  
  .column {
    flex-direction: column;
  }
  
  .search-bar {
    padding: 40px 10vw 0;
  }
  
  .search {
    border: 0;
    padding: 8px 20px;
    font-size: 18px;
    font-family: "soleil", "roboto", sans-serif;
    border: 1px solid #bdbbbb;
  }
  
  .active {
    background-color: #eeeeee !important;
    border-left: 1px solid #e2e2e2 !important;
    border-right: 1px solid #e2e2e2 !important;
    border-bottom: 1px solid #e2e2e2 !important;
  }
  
  .nav {
    align-items: center;
    color: #040404;
    font-size: 22px;
    font-weight: 500;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 10vw;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  }
  
  .menu-block {
    margin-left: -1px;
  }
  
  .menu-block,
  .user-block {
    position: relative;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .user-container {
    padding: 10px 15px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
    z-index: 2;
    overflow-x: hidden;
  }
  
  .user-border {
    height: 5px;
    flex-grow: 1;
    width: 100%;
    top: -8px;
    left: 0px;
    z-index: 3;
  }
  
  .absolute {
    position: absolute;
  }
  
  .relative {
    position: relative;
  }
  
  .user-menu {
    right: 0;
    top: -62px;
    z-index: 1;
  }
  
  .menu-link-icon {
    margin-right: 8px;
  }
  
  .menu-link-notification {
    border-radius: 100%;
    height: 16px;
    width: 16px;
    color: #ffffff;
    font-size: 10px;
    top: 8px;
    left: 13px;
    padding-right: 1px;
  }
  
  .dropup-icon,
  .dropdown-icon {
    margin-left: 10px;
  }
  
  .bright-blue {
    background-color: #32b8df;
  }
  
  .messages-notification {
    border-radius: 100%;
    height: 20px;
    width: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    top: 14px;
    left: 5px;
  }
  
  .icon {
    width: 70px;
    height: 70px;
    padding: 22px;
  }
  
  .user-info {
    margin-left: 15px;
  }
  
  .user-username {
    font-size: 18px;
    font-weight: 500;
  }
  
  .user-score {
    font-size: 14px;
    color: #989898;
    font-weight: 300;
    margin-top: -3px;
  }
  
  .shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .grow {
    flex-grow: 1;
  }
  
  
  .leaderboard-header {
    border-radius: 4px 4px 0 0;
  }
  
  .footer-btn {
    padding: 8px 12px;
    margin: 0 15px;
    background-color: #fff;
    border-radius: 4px;
    color: #32b8df;
    border: 1px solid #3498db;
  }
  
  .leaderboard-footer {
    padding: 20px 3vw;
    background-color: #32b8df;
    border: 1px solid #0196c1;
    color: #fff;
  }
  
  .leaderboard-row {
    flex-grow: 1;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 3vw;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  
  .row-caller {
    align-items: center;
  }
  
  .row-user {
    margin-left: 30px;
    width: 185px;
  }
  
  .row-user--header {
    width: 275px;
    padding-left: 20px;
  }
  
  .row-position {
    width: 55px;
    text-align: center;
  }
  
  .row-calls {
    width: 55px;
    text-align: right;
  }
  
  .leaderboard-header > .leaderboard-row:first-of-type {
    border-radius: 4px 4px 0 0 !important;
  }
  
  .leaderboard-header > .leaderboard-row {
    background-color: #32b8df;
    color: #ffffff;
    border-left: 1px solid #0196c1;
    border-bottom: 1px solid #0196c1;
    border-right: 1px solid #0196c1;
  }
  
  .leaderboard-row:last-of-type {
    border-radius: 0 0 4px 4px;
  }
  
  .align-center {
    align-items: center;
  }
  
  .row-collapse {
    flex-grow: 1;
    justify-content: space-around;
  }
  
  .row-alt {
    background-color: #f2f2f2;
  }
  
  .row-button {
    padding: 12px 40px 10px 40px;
    color: #080808;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #ffffff;
  }
  
  .table-tab:hover,
  .row-button:hover {
    background-color: #f2f2f2;
  }
  
  .row-button--active {
    border-right: 1px solid #0196c1;
    border-left: 1px solid #0196c1;
    border-top: 1px solid #0196c1;
  }
  
  .filter-row {
    padding: 0;
  }
  
  .table-tab {
    padding: 10px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #ffffff;
  }
  
  .filter-by {
    border-bottom: 1px solid #0196c1;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .row-button--active,
  .tab-active {
    background-color: #32b8df;
    color: #ffffff;
    border-left: 1px solid #0196c1;
    border-top: 1px solid #0196c1;
    border-right: 1px solid #0196c1;
  }
  
  .row-button--active:hover,
  .tab-active:hover {
    background-color: #20add6;
  }
  
  .row--header {
    padding: 20px 3vw;
  }
  
  .row-rank--header,
  .row-team--header,
  .row-rank,
  .row-team {
    width: 100%;
  }
  
  .avatar {
    border-radius: 100%;
    width: 60px;
    height: 60px;
  }
  
  .wordmark {
    height: 65px;
    margin: 8px 0;
    cursor: pointer;
  }
  
  .content {
    min-height: 100vh;
  }
  
  footer {
    background-color: #3498db;
    padding: 25px 200px;
    color: #ffffff;
  }
  
  .nav-link {
    background-color: #eee;
    font-size: 18px;
    font-weight: 300;
    color: #4a4a4a;
    padding: 10px 25px 10px 20px;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
    letter-spacing: -0.5px;
    z-index: 1;
  }
  
  .nav-link:hover {
    background-color: #c7c7c7;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
  }
  
  .nav-links {
    position: absolute;
    background-color: #eee;
    left: 0;
    top: -62px;
    width: 100%;
  }
  
  
  .animate-border {
    animation: animate-border 0.3s ease-in-out 1;
    animation-fill-mode: forwards;
  }
  
  .remove-border {
    animation: remove-border 0.3s ease-in-out 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes animate-border {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(7px);
    }
  }
  
  @keyframes remove-border {
    0% {
      transform: translateY(7px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .menu-slide-up {
    animation: menu-slide-up 0.3s ease-in-out 1;
    animation-fill-mode: forwards;
  }
  
  .menu-slide-down {
    animation: menu-slide-down 0.3s ease-in-out 1;
    animation-fill-mode: forwards;
  }
  
  .row-team {
      margin-bottom: 0px;
  }

  #container{display: flex; flex-direction: row}
#bicepcurls{margin: 0 20px}